<form (ngSubmit)="submitLogin()" [formGroup]="loginForm">
  <mdl-card mdl-shadow="2">
    <mdl-progress
      [indeterminate]="true"
      [ngStyle]="{visibility: isLoading ? 'visible' : 'hidden'}">
    </mdl-progress>
    <mdl-card-title>
      <img [src]="logo" alt="IXON Logo" class="logo">
    </mdl-card-title>
    <mdl-card-supporting-text>
      <ix-email-input
        [parentForm]="loginForm">
      </ix-email-input>
      <br>
      <ix-password-input
        [parentForm]="loginForm">
      </ix-password-input>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <div>
        <button
          type="submit"
          mdl-button
          mdl-colored
          mdl-ripple
          [disabled]="!loginForm.valid || isLoading">
          Login
        </button>
      </div>
    </mdl-card-actions>
  </mdl-card>
</form>
<ix-otp-dialog
  #otpDialog
  (submit)="submitLogin()"
  [formGroup]="loginForm">
</ix-otp-dialog>
