<div class="col-xs-2 sidebar" [formGroup]="parentForm">
  <h5>Company</h5>
  <ix-company-select
    [companies]="companies">
  </ix-company-select>
  <br>
  <h5>Timespan</h5>
  <ix-date-select
    label="Choose a starting date..."
    formName="startDate"
    [maxDate]="parentForm.controls['endDate'].value">
  </ix-date-select>
  <br>
  <ix-date-select
    label="Choose an ending date..."
    formName="endDate"
    [minDate]="parentForm.controls['startDate'].value">
  </ix-date-select>
  <br>
  <h5>Devices</h5>
  <ix-agent-select
    *ngIf="parentForm.controls['companyId'].value; else noSelectedCompany"
    [agents]="agents"
    (agentSelect)="onAgentChange($event)">
  </ix-agent-select>
  <ng-template #noSelectedCompany>
    <p>Please select a company first.</p>
  </ng-template>
</div>
